- content_for :head do
  :css
    /* Sticky footer styles
    -------------------------------------------------- */
    html {
     position: relative;
     min-height: 100%;
    }
    body {
     /* Margin bottom by footer height */
     margin-bottom: 60px;
    }
    .footer {
     position: absolute;
     bottom: 0;
     width: 100%;
     /* Set the fixed height of the footer here */
     height: 60px;
     background-color: #f5f5f5;
    }


    /* Custom page CSS
    -------------------------------------------------- */
    /* Not required for template or sticky footer method. */

    body > .container {
     padding: 60px 15px 0;
    }
    .container .text-muted {
     margin: 20px 0;
    }

    .footer > .container {
     padding-right: 15px;
     padding-left: 15px;
    }

    code {
     font-size: 80%;
    }


- content_for :page_content do
  %div{"ng-controller" => "dailyMedCtrl"}
    .page-header
      %h1 Dailymed Drugs API
    %form{"ng-submit" => "search()"}
      .input-group.participant-search.input-group-lg{:style => "margin-bottom: 20px;"}
        %span.input-group-addon
          .fa.fa-search
        %input.form-control{:placeholder => "Search for an ingredient, brand name, clinical drug component, etc (e.g. hydrocodone, cozaar)", :type => "text", "ng-model" => "params.search"}/
        %span.input-group-btn
          %button.btn.btn-success{:type => "submit", "ng-class" => "{'disabled': !params.search}"} Search

    %h1.text-center{"ng-if" => "state.loading"}
      %i.fa.fa-spin.fa-refresh
    %ul.list-group{"ng-repeat" => "drug in drugs"}
      %li.list-group-item.active
        RxCui: {{drug.rxcui}} ({{drug.names}})
      %li.list-group-item{"ng-repeat" => "brand in drug.sbd"}
        %h4 {{brand.name}}
        %p {{brand.synonym}}
